*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

html{
    font-size: 16px;
}
html,body{
    padding: 0;
    margin: 0;
}
html, body, .wrapper{
    min-height: 100vh;
}

body{
    color: black;
    font-family: 'Fira Mono', monospace;
    /* overflow: hidden; */
}
img{
    width: 100%;
}

.wrapper{
    margin: 0 auto;
    width: 100vw;
    max-width: 60rem; /*TODO change for desktop*/
    /* padding: 0 1.5rem; */

    display: -ms-grid;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto 1fr auto;
    justify-items: stretch;
    /* grid-template-areas:
    "navigation"
    "profile"
    "footer"; */
    
}
.wrapper *{
    /* max-width: 100%; */
}

.innerWrapper{ /*Todo add to all html pages */
    padding: 0 1.5rem;
    max-width: 100vw;
}

/* 
Block Name: .nav block
Description: site navigation links
*/
.nav{
    font-size: .94rem;
    margin: 1.25rem 0;
    text-transform: uppercase;
    letter-spacing: 0.0031rem;
    text-align: center;
    grid-row: 1/2;
}
.nav__row{
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 700;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.nav__item{

}
.nav__item--noneOnPage{
    display: none;
}
.nav__item--displayOnTablet{
    display: none;
}
.nav__item--displayOnMobile{
    display: inline;
}
@media screen and (min-width: 900px){ /*TODO decide on media queries sizes*/
    .nav__item--displayOnTablet{
        display: inline;
    }
}
.nav__link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    text-align: right;
    padding: 0 0.625rem;
}
.nav__link--noPadR{ /*TODO no need for this when using flex*/
    padding-right: 0;
}
.nav__link:hover,
.nav__link:visited,
.nav__link:clicked{
    color: inherit;
    text-decoration: none;
}


/* 
Block Name: .headerTitle block
Description: site's title
*/
.headerTitle{
    font-weight: 700;
}

/* 
Block Name: .profile block
Description: homepage profile
*/
.profile{
    text-align: center;
    align-self: center;
    grid-row: 2/3;

    display: -ms-grid;
    display: grid;
    /* grid-template-rows: 20% max-content max-content max-content max-content max-content 1fr; */
    grid-template-rows: repeat(5, max-content);
    align-content: center;
    grid-template-columns: none;
    justify-items: stretch;
    height: 100%;
}
.profile__title{
    font-weight: 700;
    letter-spacing: 0.1875rem;
    font-size: 1.625rem;
    text-transform: uppercase;
    margin: 0 0 0.625rem 0; /*1.5625rem*/
    grid-row: 1/2;
    grid-column: 1/2;
    line-height: 1.8em;
}
.profile__subtitle{
    font-size: 1.125rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #939393;
    letter-spacing: 0.1113rem;
    margin: 0;
    grid-row: 2/3;
    grid-column: 1/2;
    line-height: 1.8em;
}
.profile__socialList{
    padding: 0;
    list-style: none;
    margin: 2.1875rem 0;
    display: flex;
    justify-content: center;
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.0013rem;
    font-weight: 500;
    line-height: 1.8em;
}
.profile__socialItem{

}
.profile__socialLink{
    text-decoration: none;
    color: inherit;
    padding: 0 0.9375rem;
}
.profile__socialLink:hover,
.profile__socialLink:visited{
    color: inherit;
    text-decoration: none;
}
.profile__socialLink:hover{
    text-decoration: underline;
}
.profile__seperator{
    border: none;
    height: 1px;
    background-color: #939393;
    width: 7.875rem;
    /* width: 35vw; could be an idea?*/
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 2.1875rem auto;
}
.profile__email{
    color:inherit;
    font-size: .75rem;
    letter-spacing: 0.1113rem;
    text-decoration: underline;
    font-weight: 700;
    grid-row: 5/6;
    grid-column: 1/2;
}
.profile__email:hover,
.profile__email:visited{
    color: inherit;
}

/* 
Block Name: .footer block
Description: website footer
*/
.footer{
    grid-row: 3/4;
}
.footer__text{
    text-align: center;
    font-size: .5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #939393;
    letter-spacing: 0.0031rem;
    margin: 0.625rem 0;
}

/* 
Block Name: blog
Description: blogs posts
*/
.blog{
    text-align: left;
    margin: 1.5625rem 0;
    grid-row: 2/3;
}
.blog__title{
    margin: 0;
}
.blog__seperator{
    border: none;
    height: 1px;
    background-color: #939393;
    width: 5.625rem;
    margin: 10px 0;
}
.blog__postList{
    padding: 0;
    margin: 1.25rem 0 0 0;
    list-style: none;
}
.blog__postItem{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.0031rem;
    line-height: 1.5em;
}
.blog__postLink{
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem 0;
}
.blog__postLink:hover,
.blog__postLink:visited{
    color: inherit;
    text-decoration: none;
}
.blog__postLink:hover{
    /*TODO hover effect*/
}
.blog__postDate{
    display: block; /*will change to inline-block with margins in desktop view*/
    color: #848484;
    font-weight: 400;
    font-size: 0.875rem;
}


/*are psedo classes modifiers?*/
/* TODO article components (back to canvas)*/

/* 
Block Name: article
Description: article content
*/
.article{
    text-align: left;
    margin: 50px 0;
    /* padding-right: 1.875rem; */
    grid-row: 2/3;
}
.article__head{
    
}
.article__title{
    font-weight: 700;
    letter-spacing: 0.1875rem;
    font-size: 1.625rem;
    text-transform: uppercase;
    margin: 0; /*1.5625rem*/
    line-height: 1.5em;
    word-spacing: -0.5rem;
    padding-right: 1.875rem;
}
.article__date{
    color: #939393;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Fira Mono', monospace;
}
.article__seperator{
    border: none;
    height: 1px;
    background-color: #939393;
    width: 5.625rem;
    margin: 10px 0;
}
.article__body{
    margin-top: 2.5rem;
    font-family: 'PT Sans', sans-serif;
    color: #5f5f5f;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6{
    margin: 20px 0 0 0;
}

.article h1{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.article h2{
    font-weight: 700;
    font-size: 1.6rem;  
    line-height: 1.2em;  
    letter-spacing: 1px;
}
.article h3{
    font-weight: 700;
    color: #393939;
    line-height: 1.2em;
    font-size: 1.4rem;
}
.article h4{
    font-size: 1.4rem;
    color: #393939;
    line-height: 1.2em;
    font-weight: 400;
}
.article h5{
    font-size: 1.2rem;
    color: #393939;
    line-height: 1.2em;
    font-weight: 400;
}
.article h6{
    font-size: 1rem;
    color: #393939;
    line-height: 1.2em;
    font-weight: 400;
}
.article p{
    line-height: 1.5625rem;
    font-size: 1rem;
    color: #5f5f5f;
    font-weight: 400;
    margin: 1.25rem 0;
}
.article strong{
    color: #393939;
}
.article i{
    color: #393939; /*not sure about this*/
}
.article hr{
    border: none;
    height: 1px;
    background-color: #939393;
    width: 11.875rem; /* TODO make it taller on laptop*/
    margin: 1.875rem auto;
}
.article figure{
    text-align: center; 
    margin: 0 0 0 30px;
    padding: 0; 

    margin: 0;
    /* margin: 0;
    width: 100vw;
    position: relative;
    left: -1.5rem; */
}
.article image{
    text-align: center; 
    margin: 0;
    padding: 0;
}
.article figcaption{
    
}
.article figcaption p {
    margin: 5px 0;
    font-size: 0.75rem;
    line-height: 1.4;
    color: #393939;
}
.article a{
    color: #5694f1;
}
.article blockquote{
    text-align: left;
    color: #5f5f5f;
    margin: 20px; /*make it 40px on sides on desktop*/
    padding-left: 20px;
    border-left: 2px solid #5f5f5f;
    
}
.article blockquote:before{
    content:'\201C';
    color: #393939;
    font-size: 1.4rem;
}
.article blockquote:after{
    content: '\201D';
    color: #393939;
    font-size: 1.4rem;
}

.article pre{ 
	white-space:pre-wrap;
	padding:20px;
	overflow:auto;
	border-radius: 3px;
	background: #272722;
	  font-family: 'Source Code Pro',Menlo,monospace; /*TODO add source code pro*/
	  font-size: 14px;
	  line-height: 1.5em;
	  font-weight: 500;
	color: #d0d4d7;
}
.article code{
    font-family:Menlo, Monaco, Courier; 
	font-size:14px; 
	padding: 4px; 
	font-weight: 600;
}
.article li{
    padding: 5px;
}
/*nested lists*/
.article ul li ul li{
    list-style-type: square;
}
.article ul li ul li ul li{
    list-style-type: circle;
}
.article ol li ol li{
    list-style-type: lower-alpha;
}
.article kbd{
    font-weight: 700;
    background: #272722;
    color: #d0d4d7;
    padding: 3px;
    border-radius: 3px;
}
.article svg{
    max-width: 100%;
}
.article table{
    width: 100%;
    max-width: 600px;
    margin: 30px auto; /*Todo make it 40px or more on deskotp*/
    border-collapse: collapse;
    font-size: 1rem;
}
.article td{
    text-align: left;
    border: 1px solid #5f5f5f;
    padding: 10px;
}
.article th,
.article tfoot td{
    text-align: center;
    border: 1px solid #5f5f5f;
    color: #393939;
    padding: 10px;
}
.article table caption{
    color: #393939;
    margin: 10px auto;
}



/*------ Start Page Specific Styles -------*/

/*------ End Page Specific Styles -------*/

/*------ Start Responsive Styles -------*/

/* #main_nav .nav_links li a:hover{
    text-decoration: underline;
} */

@media screen and (orientation:landscape){
    /*TODO: check that in works only on mobile landscape*/
    .profile__socialList{
        margin: 1.875rem auto;
    }
    .profile__seperator{
        margin: 0 auto 1.875rem auto;
    }
}

/*------ End Responsive Styles -------*/


/* TODO 
    - fix homepage space between title and subtitle
article: 
    lists (ol / ul)
    h4
    article figures and code blocks should take full width (step on the right padding)


Before Release:
    - convert all px to rem (exceprt hr height 1px)
    - add links and mailto
    - check comments
    
    - add code highlighting
    - add figure openning and zomming
*/