<section class="blog">
    <div class="innerWrapper">
        
        <h1 class="blog__title">{{ .Title }}</h1>
        <hr class="blog__seperator">
        
        <ul class="blog__postList">

            {{ range $var := .Pages }}
                
            <li class="blog__postItem">
                <a class="blog__postLink" href="{{ .URL }}">
                    <time datetime="{{ .Date.Format "2006-01-02" }}" class="blog__postDate">{{ .Date.Format "January 2, 2006" }}</time>
                    <span class="blog__postTitle">{{ .Title }}</span>
                </a>
            </li>

            {{ end }}

        </ul>
        <a class="blog__briefMoreLink" href="blog.html">More</a>
    </div>
</section>