<header>
    <div class="innerWrapper">
        <div class="headerTitle"><a class="headerTitle__link" href="{{ "/" | relURL }}">{{ .Site.Params.websiteTitle }}</a></div>
        <nav class="nav">
            <ul class="nav__row">

                <!-- Global Variables -->
                {{ $rssLink := .Site.RSSLink }}
                {{ $getSection := strings.ToLower .Section }}
                {{ $isHome := .IsHome }}

                
                {{ with $data := .Site.Params.navigation }}
                    {{ range $data }}
                        {{ range $link := .nav }}

                            {{ $section := strings.ToLower (index $link 0 0) }}
                            {{ $url := index $link 0 1 }}
                            {{ $hideOnMobile := index $link 1 0}}
                            {{ $hideOnItsOwnPage := index $link 1 1 }}

                            <li class="nav__item
                            {{ if $hideOnMobile }} --displayOnTablet {{ end }}
                            {{ if $hideOnItsOwnPage }}
                                {{ if eq $section $getSection }} --noneOnPage {{ end }} 
                                {{ if $isHome }} {{ if eq $url "/" }} --noneOnPage {{ end }} {{ end }}
                            {{ end }}
                            "><a class="nav__link"
                                {{if or (eq $section "RSS") (eq $section "rss")  }}
                                    href="{{ $rssLink }}"
                                {{ else }}
                                    href="{{ $url }}"
                                {{ end }}
                                
                            >{{ $section }}</a></li>
                            
                        {{ end }}
                    {{ end }}
                {{ end }}                

            </ul>
        </nav>
    </div>
</header>