<section class="blog {{ if .IsHome }} --brief {{ end }}">
    <div class="innerWrapper">
        
        <h1 class="blog__title">{{ .Title }}</h1>
        <hr class="blog__seperator">
        
        <ul class="blog__postList">
            
            {{ if .IsHome }}
                {{ range first .Site.Params.numberOfBriefLinks .Pages }}
                    {{ partial "blog/blog-item.html" . }}
                {{ end }}
            {{ else }}
                {{ range .Pages }}
                    {{ partial "blog/blog-item.html" . }}
                {{ end }}
            {{ end }}
            
        </ul>
        <a class="blog__briefMoreLink" href=" {{ "blog.html" | relURL }}">More</a>
        <!-- TODO isnt using blog.html in the href considered hard coding? -->
    </div>
</section>